In [26]:
import pandas as pd

df = pd.read_csv("../data/bank.csv", sep=';')

df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [27]:
print(df.columns)

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [28]:
#verif valeurs manquantes
df.isnull().sum()

#convertir les colonnes catégorielles en numérique (One-Hot)
categorical_cols = ['job','marital','education','default','housing','loan','contact',
                    'month','poutcome','day_of_week']
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

#séparer features et target
X = df.drop('y', axis=1)  # 'y' = souscription (yes/no)
y = df['y'].map({'yes':1, 'no':0})

In [29]:
print(df.dtypes)

age                                int64
duration                           int64
campaign                           int64
pdays                              int64
previous                           int64
emp.var.rate                     float64
cons.price.idx                   float64
cons.conf.idx                    float64
euribor3m                        float64
nr.employed                      float64
y                                 object
job_blue-collar                     bool
job_entrepreneur                    bool
job_housemaid                       bool
job_management                      bool
job_retired                         bool
job_self-employed                   bool
job_services                        bool
job_student                         bool
job_technician                      bool
job_unemployed                      bool
job_unknown                         bool
marital_married                     bool
marital_single                      bool
marital_unknown                     bool
education_basic.6y                  bool
education_basic.9y                  bool
education_high.school               bool
education_illiterate                bool
education_professional.course       bool
education_university.degree         bool
education_unknown                   bool
default_unknown                     bool
default_yes                         bool
housing_unknown                     bool
housing_yes                         bool
loan_unknown                        bool
loan_yes                            bool
contact_telephone                   bool
month_aug                           bool
month_dec                           bool
month_jul                           bool
month_jun                           bool
month_mar                           bool
month_may                           bool
month_nov                           bool
month_oct                           bool
month_sep                           bool
poutcome_nonexistent                bool
poutcome_success                    bool
day_of_week_mon                     bool
day_of_week_thu                     bool
day_of_week_tue                     bool
day_of_week_wed                     bool
dtype: object

In [30]:
# Convertir la cible en 0/1
y = df['y'].map({'yes':1, 'no':0})

# Supprimer la colonne cible du DataFrame des features
X = df.drop('y', axis=1)

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
import joblib

# Split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Modèle
model = RandomForestClassifier(n_estimators=200, random_state=42)
model.fit(X_train, y_train)

# Évaluation
pred = model.predict(X_val)
print("Accuracy:", accuracy_score(y_val, pred))
print(classification_report(y_val, pred))

# Sauvegarder le modèle
joblib.dump(model, "../app/model.pkl")

Accuracy: 0.9124787569798495
              precision    recall  f1-score   support

           0       0.94      0.97      0.95      7303
           1       0.65      0.49      0.56       935

    accuracy                           0.91      8238
   macro avg       0.79      0.73      0.76      8238
weighted avg       0.90      0.91      0.91      8238

['../app/model.pkl']